JavaEEProjectWebAppSHA512withDB/JavaEEProjectWebAppSHA512withDB-master/BaranowskiKarolProjekt-war/web/WEB-INF/wsdl/localhost_8080/HashTableWS/HashTableWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dbjpa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dbjpa/" name="HashTableWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dbjpa/" schemaLocation="http://localhost:8080/HashTableWS/HashTableWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllHashTB">
<part name="parameters" element="tns:getAllHashTB"/>
</message>
<message name="getAllHashTBResponse">
<part name="parameters" element="tns:getAllHashTBResponse"/>
</message>
<message name="removeHashTB">
<part name="parameters" element="tns:removeHashTB"/>
</message>
<message name="removeHashTBResponse">
<part name="parameters" element="tns:removeHashTBResponse"/>
</message>
<message name="getHashTB">
<part name="parameters" element="tns:getHashTB"/>
</message>
<message name="getHashTBResponse">
<part name="parameters" element="tns:getHashTBResponse"/>
</message>
<message name="addHashTB">
<part name="parameters" element="tns:addHashTB"/>
</message>
<message name="addHashTBResponse">
<part name="parameters" element="tns:addHashTBResponse"/>
</message>
<portType name="HashTableWS">
<operation name="getAllHashTB">
<input wsam:Action="http://ws.dbjpa/HashTableWS/getAllHashTBRequest" message="tns:getAllHashTB"/>
<output wsam:Action="http://ws.dbjpa/HashTableWS/getAllHashTBResponse" message="tns:getAllHashTBResponse"/>
</operation>
<operation name="removeHashTB">
<input wsam:Action="http://ws.dbjpa/HashTableWS/removeHashTBRequest" message="tns:removeHashTB"/>
<output wsam:Action="http://ws.dbjpa/HashTableWS/removeHashTBResponse" message="tns:removeHashTBResponse"/>
</operation>
<operation name="getHashTB">
<input wsam:Action="http://ws.dbjpa/HashTableWS/getHashTBRequest" message="tns:getHashTB"/>
<output wsam:Action="http://ws.dbjpa/HashTableWS/getHashTBResponse" message="tns:getHashTBResponse"/>
</operation>
<operation name="addHashTB">
<input wsam:Action="http://ws.dbjpa/HashTableWS/addHashTBRequest" message="tns:addHashTB"/>
<output wsam:Action="http://ws.dbjpa/HashTableWS/addHashTBResponse" message="tns:addHashTBResponse"/>
</operation>
</portType>
<binding name="HashTableWSPortBinding" type="tns:HashTableWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllHashTB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeHashTB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHashTB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addHashTB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HashTableWS">
<port name="HashTableWSPort" binding="tns:HashTableWSPortBinding">
<soap:address location="http://localhost:8080/HashTableWS/HashTableWS"/>
</port>
</service>
</definitions>