JavaEEProjectWebAppSHA512withDB/JavaEEProjectWebAppSHA512withDB-master/BaranowskiKarolProjekt-war/src/conf/xml-resources/web-service-references/HashTableWS/wsdl/localhost_8080/HashTableWS/HashTableWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.dbjpa/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dbjpa/">

<xs:element name="addHashTB" type="tns:addHashTB"/>

<xs:element name="addHashTBResponse" type="tns:addHashTBResponse"/>

<xs:element name="getAllHashTB" type="tns:getAllHashTB"/>

<xs:element name="getAllHashTBResponse" type="tns:getAllHashTBResponse"/>

<xs:element name="getHashTB" type="tns:getHashTB"/>

<xs:element name="getHashTBResponse" type="tns:getHashTBResponse"/>

<xs:element name="hashTable" type="tns:hashTable"/>

<xs:element name="removeHashTB" type="tns:removeHashTB"/>

<xs:element name="removeHashTBResponse" type="tns:removeHashTBResponse"/>

<xs:complexType name="getHashTB">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHashTBResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashTable" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashTable">
<xs:sequence>
<xs:element name="bity" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="shake128" type="xs:string" minOccurs="0"/>
<xs:element name="tekst" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeHashTB">
<xs:sequence>
<xs:element name="hashTB" type="tns:hashTable" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeHashTBResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addHashTB">
<xs:sequence>
<xs:element name="hashTB" type="tns:hashTable" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addHashTBResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllHashTB">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllHashTBResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashTable" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>