JavaEEProjectWebAppSHA512withDB/JavaEEProjectWebAppSHA512withDB-master/BaranowskiKarolProjekt-war/web/WEB-INF/wsdl/localhost_8080/shake128WS/shake128WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shake/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shake/" name="shake128WS">
<types>
<xsd:schema>
<xsd:import namespace="http://shake/" schemaLocation="http://localhost:8080/shake128WS/shake128WS?xsd=1"/>
</xsd:schema>
</types>
<message name="setBits">
<part name="parameters" element="tns:setBits"/>
</message>
<message name="getHash">
<part name="parameters" element="tns:getHash"/>
</message>
<message name="getHashResponse">
<part name="parameters" element="tns:getHashResponse"/>
</message>
<message name="setHash">
<part name="parameters" element="tns:setHash"/>
</message>
<message name="setText">
<part name="parameters" element="tns:setText"/>
</message>
<message name="getText">
<part name="parameters" element="tns:getText"/>
</message>
<message name="getTextResponse">
<part name="parameters" element="tns:getTextResponse"/>
</message>
<message name="getBits">
<part name="parameters" element="tns:getBits"/>
</message>
<message name="getBitsResponse">
<part name="parameters" element="tns:getBitsResponse"/>
</message>
<portType name="shake128WS">
<operation name="setBits">
<input wsam:Action="http://shake/shake128WS/setBits" message="tns:setBits"/>
</operation>
<operation name="getHash">
<input wsam:Action="http://shake/shake128WS/getHashRequest" message="tns:getHash"/>
<output wsam:Action="http://shake/shake128WS/getHashResponse" message="tns:getHashResponse"/>
</operation>
<operation name="setHash">
<input wsam:Action="http://shake/shake128WS/setHash" message="tns:setHash"/>
</operation>
<operation name="setText">
<input wsam:Action="http://shake/shake128WS/setText" message="tns:setText"/>
</operation>
<operation name="getText">
<input wsam:Action="http://shake/shake128WS/getTextRequest" message="tns:getText"/>
<output wsam:Action="http://shake/shake128WS/getTextResponse" message="tns:getTextResponse"/>
</operation>
<operation name="getBits">
<input wsam:Action="http://shake/shake128WS/getBitsRequest" message="tns:getBits"/>
<output wsam:Action="http://shake/shake128WS/getBitsResponse" message="tns:getBitsResponse"/>
</operation>
</portType>
<binding name="shake128WSPortBinding" type="tns:shake128WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setBits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="shake128WS">
<port name="shake128WSPort" binding="tns:shake128WSPortBinding">
<soap:address location="http://localhost:8080/shake128WS/shake128WS"/>
</port>
</service>
</definitions>