JavaEEProjectWebAppSHA512withDB/JavaEEProjectWebAppSHA512withDB-master/BaranowskiKarolProjekt-war/web/WEB-INF/wsdl/localhost_8080/HasheWS/HasheWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shake/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shake/" name="HasheWS">
<types>
<xsd:schema>
<xsd:import namespace="http://shake/" schemaLocation="http://localhost:8080/HasheWS/HasheWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addHash">
<part name="parameters" element="tns:addHash"/>
</message>
<message name="addHashResponse">
<part name="parameters" element="tns:addHashResponse"/>
</message>
<message name="deleteHash">
<part name="parameters" element="tns:deleteHash"/>
</message>
<message name="getAllHash">
<part name="parameters" element="tns:getAllHash"/>
</message>
<message name="getAllHashResponse">
<part name="parameters" element="tns:getAllHashResponse"/>
</message>
<message name="executeModifyQuery">
<part name="parameters" element="tns:executeModifyQuery"/>
</message>
<message name="getHash">
<part name="parameters" element="tns:getHash"/>
</message>
<message name="getHashResponse">
<part name="parameters" element="tns:getHashResponse"/>
</message>
<portType name="HasheWS">
<operation name="addHash">
<input wsam:Action="http://shake/HasheWS/addHashRequest" message="tns:addHash"/>
<output wsam:Action="http://shake/HasheWS/addHashResponse" message="tns:addHashResponse"/>
</operation>
<operation name="deleteHash">
<input wsam:Action="http://shake/HasheWS/deleteHash" message="tns:deleteHash"/>
</operation>
<operation name="getAllHash">
<input wsam:Action="http://shake/HasheWS/getAllHashRequest" message="tns:getAllHash"/>
<output wsam:Action="http://shake/HasheWS/getAllHashResponse" message="tns:getAllHashResponse"/>
</operation>
<operation name="executeModifyQuery">
<input wsam:Action="http://shake/HasheWS/executeModifyQuery" message="tns:executeModifyQuery"/>
</operation>
<operation name="getHash">
<input wsam:Action="http://shake/HasheWS/getHashRequest" message="tns:getHash"/>
<output wsam:Action="http://shake/HasheWS/getHashResponse" message="tns:getHashResponse"/>
</operation>
</portType>
<binding name="HasheWSPortBinding" type="tns:HasheWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAllHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executeModifyQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HasheWS">
<port name="HasheWSPort" binding="tns:HasheWSPortBinding">
<soap:address location="http://localhost:8080/HasheWS/HasheWS"/>
</port>
</service>
</definitions>